/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

fieldset {
  border-style: none;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*===  BASE ============================ */
body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--base-color);
  -webkit-font-smoothing: antialiased;
}

.container {
  background: var(--body-color);
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

span {
  color: var(--base-color);
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  border-style: none;
  height: 2.3rem;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1.15rem var(--body-font);
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.button:hover {
  background: var(--base-color-alt);
  cursor: pointer;
}

/*====  LAYOUT ============================ */
.container {
  width: 70%;
  height: 70%;
  margin: 4rem auto;
}

.wrapper {
  padding: 1.5rem;
}

header {
  margin-bottom: 1.5rem;
}

.title a i {
  color: var(--title-color);
  margin-right: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

.basics,
.biological,
.contact {
  display: flex;
  flex-direction: column;
}

input[type='email'],
input[type='password'],
input[type='tel'],
input[type='text'],
input[type='date'] {
  padding: 0.5rem;
  height: 2rem;
  margin-bottom: 1rem;
}

.biological div {
  margin-bottom: 1rem;
}

.biological div label {
  margin-right: 1rem;
}

/*==== MEDIA QUERIES ============================ */
/* medium devices: 900 > */
@media (min-width: 900px) {
  .container {
    width: 40%;
    height: 75%;
  }

  .wrapper {
    padding: 2rem 4rem;
  }
}
